.cart{
  margin-left: 15%;
  width: 70%;


}
@media  (max-width: 970px) {
  .cart{
    margin-top: 200px;
    margin-left: 10%;


  }
}
@media  (max-width: 767px) {
  .cart{
    margin-left: 20%;


  }
}

.Foot_cart{
  position: relative;
  top: 30vw;
  right: 4vw;
}

.Image{
  margin-right: 10px;
}

.No_data{
  width: 20vw;
  height: 50px;
  font-size: 20px;
  position: relative;
  left: 40vw;

}
.Buttonkk{
  position: relative;
  left: 4%;
}

@media (max-width: 1200px) {
  .Buttonkk{
    position: relative;
    left: 2%;

  }

}
@media (max-width: 767px) {
  .Buttonkk{
    /* position: relative; */
    left: 44%;

  }

}
.popup {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}

.button_paying{
  position: relative;
  left: 48%;
}
