.product_detail{
  position: relative;
  top: 100px;

}

.Add {
  position: relative;
  right: 4%;

}
@media (max-width: 970px) {
  .product_detail{
    margin-top: 60px;
  }
  .Add{
    right: -1%;
  }

}


.button_cart_detail{
  margin-left: 9%;
}
