div.BC{
  margin-left: 30vw;
  display: block;
  margin-bottom: 5VW;
}


.Text{
  border-style: none;
  padding: 1vw;
  margin-left: 16vw;
  margin-top: 5vw;
  width: 67vw;
  height: 10vw;
  background-color: rgb(250, 251, 252);
  color: #94969F;
  margin-bottom: 7vw;
  font-style: oblique;
  font-size: 1vw;
  text-align: center;
  margin-bottom: 5vw;
}



.men{
  margin-left: 13vw;
  width: 100vw;
  margin-bottom: 5vw;
}

.footer_home{
position: relative;
bottom: 0;

}
