.Men_grid{

  position: relative;
  right: 18%;



}

.men_banner{
  width: 70vw;
  margin-left: 13vw;
  margin-top: 1vw;
  margin-bottom: 5vw;
}

@media only screen (max-width: 970px) {
  .men{
    width: 50px;
    margin-left: 17vw;
  }
}
