.Men_grid{

  position: relative;
  left: 21%;
  width: 120%;
  padding-right: 60%;
  vertical-align: top;



}

.men_banner{
  width: 70vw;
  margin-left: 13vw;
  margin-top: 1vw;
  margin-bottom: 5vw;
}
