.Container {
  width: 30vw;
  height: 12vw;
}
/*
.ul_container{
  text-align:left;
  float: left;

}


.h {
  color: white;
  font-size: 20px;
}

li .p {
  display: block;
}

.h_contact{

  color: white;
  font-size: 20px;
}
/* @media screen and (max-width:970px){
  .h_contact{
    left: 45%;
  }
} */

/* .ul_container_second{
  text-align:center;
} */



/* li a:hover {

    color: white;
    font-size: 15px;

} */

/* .ul_container_three{
  float:right;
  text-align:right;
}

.h_Follow_us {

  color: white;
  font-size: 20px;
}  */
