.container {
  top: 23%;
  margin-top: 80px;
  position: relative;
  text-align: center;
}

@media (max-width: 970px) {
  .container{
    margin-top: 250px;
  }

}

.Footer_register{
  position: absolute;
  overflow: hidden;
  top:80%;
  right:67vw;
}

.register {
  margin-left: 5px;
  font-size: 4%;
  font-weight: bold;
  font-family: Times;
  line-height: 4%;
  color: black;
}

.Inputss {

    border-color: #f0f3f7;
    display: inline-block;
    width: 38%;
    height: 40px;
    border-top-color: white;
    font-size: 16%;
    font-weight:70px;
    color: black;
    font-variant:normal;
    border-width: 1px;


}
.Inputss:hover{
  background-color: #E8E8E8;
  border-color: grey;

}

.button {
  position: absolute;
  right: 78%;



}

@media screen and (max-width: 970px){
  .button{
    margin-left: 12%;

  }

}
