
.bar{
  position: relative;
  top: 0vw;
  min-width: 100vw;
  height: 4vw;
  background-color: rgb(0, 0, 0);
  color: white;
  margin-top: 2vw;

}

.Logo{
  position: relative;
  bottom: 2vw;
  left: 14.6%;
}

.call_number{
  position: relative;
  left: 16vw;
  top: -1.5vw ;
  color: #b3b3b3;
}

.call_number:hover{
  color: white;
  cursor: pointer;
}

@media screen and (max-width:970px) {
  .call_number {
    display: none;
  }}


.plus_cart{
  position: absolute;
  bottom: 38% ;
  left: 31vw;
  cursor: pointer;
}

@media screen and (max-width:796px) {
  .plus_cart {
    margin-left: 12vw;
  }}

a.plus_cart {
  color: white;

}
a.plus_cart:hover{
  color: white;
}
a.user{
  position: absolute;
  bottom: 1.6vw ;
  left: 66vw;
  cursor: pointer;
  color: white;

}

.Search{
  position: absolute;
  bottom: 7vw ;
  left: 70vw;
  /* margin-left: 3vw; */

}

@media screen and (max-width:970px) {
  .Search {
    display: none;
  }}

.Menu{
  position: static;
  width: 90%;
  height: 5vw;
  margin-left: 30vw;
  margin-top: 1vw;


}

@media  screen and (max-width:970px) {
  .Menu{
    display: none;
  }
}

li  {
  display: inline-block;
}

li a {
  color: grey;
  display: inline-block;
  padding: 25px;
  font-size: 20px;
  font-weight: normal;

}
li a:hover{
  color: black;
  font-size: 25px;
}

li a:focus {
  outline: none;
}
