
.bar{
  position: relative;
  top: 0;
  height: 70px;
  background-color: rgb(0, 0, 0);
  color: white;
  margin-top: 40px;


}

.Logo{
  position: relative;
  bottom: 50%;
  left: 14.6%;
}
@media(max-width: 600px){
  .Logo{
    width: 80px;
    bottom: 7px;
  }
}

.call_number{
  position: relative;
  left: 16vw;
  bottom: 25px ;
  color: #b3b3b3;
}

.call_number:hover{
  color: white;
  cursor: pointer;
}




.plus_cart{
  position: absolute;
  bottom: 38% ;
  left: 62%;
  cursor: pointer;
}

@media screen and (max-width:970px) {
    .call_number {
      display: none;
    }


  }

a.plus_cart {
  color: white;

}


.user{
  position: absolute;
  bottom: -2px;
  left: 1vw;
  color: white;

}

.Search{
  position: absolute;
  bottom: 120px ;
  left: 70vw;
  margin-left: auto;

}

@media screen and (max-width:970px) {
  .Search {
    display: none;
  }}

.Menu{
  position: relative;
  margin-top: 40px;
  width: 90%;
  left: 31%;


}


@media (max-width: 1282px) {
  .Menu {
		left: 26%;
	}

}
@media (max-width: 970px) {
	.Menu {
		display: none;
	}
}

li  {
  display: inline-block;
}

li a {
  color: grey;
  display: inline-block;
  padding: 2vw;
  font-size: 20px;
  font-weight: normal;

}


li a:hover{
  color: black;
  font-size: 25px;
}

li a:focus {
  outline: none;
}
.Log_out{
  position: absolute;
  bottom: 38%;
  left: 65%;
  cursor: pointer;
  color: white;
}
@media  screen and (min-width:460px) and (max-width:970px) {
  .Log_out{
    margin-left: 4%;

  }
}
@media  screen and (max-width:459px) {
  .Log_out{
    margin-left: 6%;

  }
}
.Drawer_button {
  color: white;
  position: absolute;
  right: 9px;
  top: 22px;
  cursor: pointer;
}

.Drawer_slider{

  width: 100%;
  margin-top: 2px;
  /* margin-left: 20px; */
}
